/*
Routing Information Base API

API for Routing Information Base.

API version: 1.0.0
Contact: PDLDPDEVEL@pdl.internal.ericsson.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PrefixRegistrationEofAPIService PrefixRegistrationEofAPI service
type PrefixRegistrationEofAPIService service

type ApiReceivePrefixRegistrationEofRequest struct {
	ctx context.Context
	ApiService *PrefixRegistrationEofAPIService
	networkInstanceName string
	clientName string
}

func (r ApiReceivePrefixRegistrationEofRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReceivePrefixRegistrationEofExecute(r)
}

/*
ReceivePrefixRegistrationEof Method for ReceivePrefixRegistrationEof

During startup, producer client should call this API to send prefix registration EOF to RIB after it registered all its prefix with RIB. RIB need know if producer client finished register prefix with RIB.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkInstanceName network-instance to which the eof belongs to.
 @param clientName client name, please refer to the client_identifier provided by client when it register to RIB.
 @return ApiReceivePrefixRegistrationEofRequest
*/
func (a *PrefixRegistrationEofAPIService) ReceivePrefixRegistrationEof(ctx context.Context, networkInstanceName string, clientName string) ApiReceivePrefixRegistrationEofRequest {
	return ApiReceivePrefixRegistrationEofRequest{
		ApiService: a,
		ctx: ctx,
		networkInstanceName: networkInstanceName,
		clientName: clientName,
	}
}

// Execute executes the request
func (a *PrefixRegistrationEofAPIService) ReceivePrefixRegistrationEofExecute(r ApiReceivePrefixRegistrationEofRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrefixRegistrationEofAPIService.ReceivePrefixRegistrationEof")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/network-instances/{network-instance-name}/clients/{client-name}/prefix-reg-eof"
	localVarPath = strings.Replace(localVarPath, "{"+"network-instance-name"+"}", url.PathEscape(parameterValueToString(r.networkInstanceName, "networkInstanceName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"client-name"+"}", url.PathEscape(parameterValueToString(r.clientName, "clientName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
